@import "./base.css";

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #2c3e50;
  transition: 0.4s;
}

a:active {
  box-shadow: none!important;
}

a:hover {
  background-color: hsla(210, 45%, 24%, 0.2);
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
  }
}
